<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.contacts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Daughter"/>
        <activity android:name=".Father"/>
        <activity android:name=".Grandfather"/>
        <activity android:name=".Grandmother"/>
        <activity android:name=".Mother"/>
        <activity android:name=".Youngerbother"/>
        <activity android:name=".Youngersister"/>
        <activity android:name=".Olderbother"/>
        <activity android:name=".Oldersister"/>
        <activity android:name=".Son"/>

    </application>

</manifest>